* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* section-1 */
.footer-Img{
    object-fit: cover;
    height: 40vh;
}
.card-img{
    background: linear-gradient(90deg, rgba(0,0,0,0.5046393557422969) 0%, rgba(0,0,0,0.4990371148459384) 100%) !important;
}
.MYcard-cnt{
    /* margin-top: 4em; */
    text-align: center;
    color: white;
    background: linear-gradient(90deg, rgba(0,0,0,0.5046393557422969) 0%, rgba(0,0,0,0.7483368347338936) 100%);

}



/* end */
/* section-2 */
.dealer-img {
    max-width: 60%;
    float: right;
    margin-right: 7em;
}
.dealer-section {
    margin: 6em;
}
/* end */
/* section-3 */
.team1 {
    width: 200px;
}
.first-team {
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-section {
    margin: 6em;
}
/* end */
/* section-4 */
.business-box {
    margin: 6em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
}
.business-cnt {
    display: flex;
    flex-direction: row;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 2em;
}
.office-cnt {
    display: flex;
    flex-direction: row;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
/* end */
/* start */
.fbanner{
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}
/* end */
