@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* / Set minimum height to 100% of viewport height / */
}

.content {
    flex: 1;
    /* / Allow content to grow and fill remaining space / */
}

.footer {
    flex-shrink: 0;
    /* / Prevent footer from shrinking / */
}

body {
    font-family: "Roboto", sans-serif !important;
}

.tophead {
    /* max-width: 100%; */
    margin: 0 auto;
    padding: 0 10px;;
}

.nav-link{

    color: var(--bs-nav-link-color) !important;
}

nav.navbar.navbar-expand-lg {
    padding: 0;
}

.topButtons button {
    color: #fff;
    background: #AF1515;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    padding: 4px 10px;
    line-height: 2.5rem;
    width: 136px;
}

a.nav-link.active {
    color: #AF1515 !important;
    border-top: 2px solid #AF1515 !important;
}

a.nav-link:hover {
    color: #AF1515 !important;
    border-top: 2px solid #AF1515 !important;
}

.tophead ul.navbar-nav {
    gap: 28px;
}

.tophead ul li a.nav-link {
    font-weight: 700;
    font-size: 15px;
    border-top: 2px solid #fff;
    padding: 15px 0 !important;
}

.footerinner {
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 60px;
}

.mainfooter {
    background: #af1515;
    padding-top: 48px;
}

.footerinner h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 24px;
    position: relative;
}

.footerinner h3:before {
    position: absolute;
    content: '';
    background-color: #AF1515;
    width: 56px;
    height: 3px;
    bottom: 0;
    left: 0;

}

p.footercontn {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

.footerinner img {
    padding-bottom: 24px;
    margin-bottom: 12px;
}

.footerinner ul {
    list-style: none;
    padding: 0 !important;
}

.footerinner ul li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 12px 3px;
}

.footerinner ul li h4 {
    font-size: 14px;
    margin: 0 !important;
    font-weight: 400;
}

p.date {
    color: rgba(255, 255, 255, .6);
    margin: 4px 0 0 !important;
    font-size: 12px;
}

.copyright {
    background: black;
    padding-top: 36px;
    padding-bottom: 36px;
}

.copyright p {
    font-weight: 400;
    font-size: .702rem;
    letter-spacing: .01875rem;
    line-height: 1.5;
    margin: 0 !important;
    color: #fff;
    text-align: center;
}

/* / OUR WORK / */

.ourWorkBanner {
    background-image: url('../images/ourwork.jpg');
    padding: 96px 0;
    position: relative;
}

.ourWorkBanner::before {
    position: absolute;
    content: '';
    background-color: #000000ab;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.row {
    max-width: 100%;
}
.ourWorkBanner h1 {
    color: #fff;
    font-size: 40px;
    z-index: 999;
    position: relative;
}
.campaignsInner .row {
    max-width: 100%;
}
.ourworkMain {
    max-width: 1116px;
    margin: 0 auto;
    padding-top: 62px;
}
.campaigns {
    text-align: center;
}

.campaignBox {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 42px;
    min-height: 500px;
}
.campaignBox img {
    transition: 2.2s ease all;
    height: 100%;
}

.campaignBox:hover img {
    transform: scale(1.5);
    object-fit: contain;
}
.campaignBox figure {
    overflow: hidden;
    /* / height: 220px; / */
    aspect-ratio: 3 / 2;
}

.campaignboxcontent {
    padding: 24px;
    text-align: center;
    /* height: 200px !important; */
    height: auto;
}
.campaignsInner {
    margin-top: 44px;
}
.campaignboxcontent a {
    font-size: 18px;
    color: #5586e8;
    text-decoration: none;
    font-weight: 600;
    line-height: 10px;
    /* transition: 2.2s ease all; */
}
.campaignBox:hover .campaignboxcontent a {
    color: #AF1515;
}
.campaignboxcontent p {
    font-size: 14px;
    margin: 20px 0 !important;
    max-width: 100% !important;
    display: block;
}
.read-btn {
    font-size: 18px;
    border: none;
    background: #AF1515;
    padding: 16px 16px;
    border-radius: 8px;
    color: #fff;
    /* transition: 2.2s ease all; */
}
.campaignBox:hover .campaignboxcontent button {
    background: #AF1515;

}
.read-btn:hover{
    background: #5586e8;
}
.campaignBox:hover .read-btn {
    background: #AF1515;
}
.campaigns p {
    max-width: 56%;
    margin: 0 auto;
}
.partnersMain img {
    width: 159px;
    margin-bottom: 30px;
}
.partnersMain {
    padding-top: 50px;
    padding-bottom: 50px;
}
.partnersMain h3 {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 800;
    color: #AF1515;
}
.partnersMain h4 {
    font-size: 19px;
    font-weight: 400;
    max-width: 92%;
    margin-top: 20px;
}
.partnersMain p {
    margin-top: 20px;
    line-height: 25px;
    max-width: 92%;
    font-size: 14px;
}
.campaigns h2 {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 800;
    color: #AF1515;
}


/* / OUR WORK / */

.imagesgrid {
    flex-wrap: wrap;
    position: relative;
}
.imagesgrid h2 {
    position: absolute;
    top: 0;
    color: #fff;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 54px;
    left: 0;
    text-align: center;
    top: 8rem;
    right: 0;
}
.donateMain {
    max-width: 100%;
    margin: 0 auto ;
}
.imagesgrid figure img {
    width: 100% !important;
}
.imagesgrid figure {
    width: 13% !important;
    margin-bottom: 5px;
    height: 108px;
    overflow: hidden;
}
.donateblogs {
    max-width: 90%;
    margin: 0 auto !important;
    padding: 100px 0;
}
.donateBlogbox img {
    width: 240px;
    border-radius: 10px 10px 0 0;
}
.donatePayment img {
    width: 362px;
}
.accordion-item {
    margin-bottom: 0px;
    border: 1px solid lightgrey;
}
.accordion-button:not(.collapsed) {
    background: transparent !important;
    color: green;
    font-family: 'Roboto';
    font-size: 16px;
}
button.accordion-button {
    font-family: 'Roboto';
    font-size: 16px;
    position: relative;
    padding-left: 43px;
}
button.accordion-button:before {
    position: absolute;
    content: '';
    background: #AF1515;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    left: 17px;
    top: 17px;
}
.accordion-body {
    font-size: 13px;
    color: grey;
    line-height: 20px;
}
.donatePayment h3 {
    font-size: 22px;
    font-weight: 800;
    color: #AF1515;
    margin-bottom: 18px;
}
.donatePayment p {
    font-size: 14px;
    font-family: 'Roboto';
}
.donateBlogInnerbox {
    padding: 24px;
}
.donateBlogbox {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
}
.donateBlogInnerbox h3 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
}
span.smallfont {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}
.inputWIthoptions input {
    padding: 2px 12px;
    border: 1px solid darkslategrey;
    color: #fff;
}
.inputWIthoptions label {
    background: #AF1515;
    padding: 2px 12px;
    border: 1px solid #AF1515;
    color: #fff;
}
.inputWIthoptions {
    margin: 28px 0;
}
.donateBlogInnerbox button {
    background: #AF1515;
    border: 1px solid #AF1515;
    width: fit-content;
    border-radius: 5px;
    padding: 4px 26px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    transition: 1.8s ease all;
}
.donateBlogInnerbox button:hover {
    background: #AF1515;
    border: 1px solid #AF1515;
}
h4.allHead {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}
.selectPayment input {
    border: 1px solid grey;
}
.selectPayment label {
    font-size: 14px;
    font-weight: 400;
}
.formGroups {
    width: 48% !important;
}
.formGroups input {
    width: 100% !important;
    color: grey;
    border: 1px solid darkgray;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 13px;
}
.formGroups label {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}
.emailGroup label {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}
.emailGroup input {
    width: 100% !important;
    color: grey;
    border: 1px solid darkgray;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 13px;
}
.donateBlogInnerbox p {
    font-size: 14px;
    margin-top: 10px;
}
.forcheck p {
    font-weight: 500;
    font-size: 15px;
    margin: 0 !important;
}
.donateBlogInnerbox h5 {
    font-size: 18px !important;
    font-weight: 600;
    margin: 15px 0;
}
.checkbox1 label {
    font-size: 14px;
    font-weight: 500;
}
.checkbox1 input {
    border: 1px solid darkslategrey;
}

.donateBlogInnerbox a {
    text-decoration: none;
    color: #AF1515;
    font-weight: 500;
}
.donateblogBox img {
    width: 100%;
    border-radius: 10px;
}
.donateblogBox {
    position: relative;
}
.donateBoxheads h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #fff !important;
}
.donateBoxheads {
    background: #AF1515bd;
    position: absolute;
    bottom: 15px;
    width: 75%;
    padding-left: 17px;
    padding-top: 15px;
    margin-left: 12px;
}
.donateBoxheads p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.donateMain h3 {
    font-weight: 900;
    margin-top: 15px;
    color: #AF1515;
}
.donateMain p {
    font-size: 14px;
    width: 65%;
}
.donateblogBoxs.row {
    margin-bottom: 40px;
}
.imagesgrid:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 99%;
    background: #0000008f;
}
.donateForm {
    flex-wrap: wrap;
    gap: 20px;
}
.donteGroups {
    width: 100%;
}
.donteGroups label {
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat';
    margin-bottom: 6px;
}
.donteGroups textarea {
    width: 97%;
    height: 39px;
    border: 1px solid darkgrey;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Montserrat';
}
.donateForm .donteGroup {
    width: 48%;
}
.donteGroup label {
    width: 100%;
}
.donteGroup select {
    width: 98%;
    border: 1px solid darkgrey;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Montserrat';
}
.donteGroup input {
    width: 98%;
    border: 1px solid darkgrey;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Montserrat';
}
.donteGroup label {
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat';
    margin-bottom: 6px;
}
.donateBlogbox h4 {
    text-decoration: none !important;
    font-family: 'Montserrat';
    font-size: 17px;
    margin-top: 25px;
    font-weight: 700;
    margin-bottom: 13px;
    color: #000;
    text-decoration: underline;
}
.form-check input {
    border: 2px solid #AF1515;
}

.donateAmountButton{
    cursor: pointer;
    background-color: #AF1515;
    /* / width: 61px; / */
    border-radius: 5px;
    padding: 7px;
    color: #fff;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-check-input:checked {
    background-color: #AF1515 !important;
    border-color: #AF1515 !important;
}
.form-check label {
    font-size: 14px;
    font-family: 'Montserrat';
}
input#customAmountInput {
    font-family: 'Montserrat';
    width: 108%;
}
select.types {
    width: 98%;
    border: 1px solid darkgrey;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Montserrat';
}
a.blogMaintitle {
    font-family: 'Montserrat' !important;
    font-size: 22px;
    color: #AF1515;
}
a.blogMainButton {
    background: #AF1515;
    padding: 8px 30px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 14px;
    border-radius: 10px;
    transition: 1.8s ease all;
}
a.blogMainButton:hover {
    background: #AF1515;
    border: 1px solid #AF1515;
}
.mainSearch {
    margin: 0 !important;
    font-family: 'Montserrat';
    color: #AF1515 !important;
}
h4.recentPost {
    margin: 0 !important;
    font-family: 'Montserrat';
    color: #AF1515;
}
.recentTitleBlogs {
    font-weight: 700;
    color: #AF1515;
    text-decoration: underline;
}
.carousel-item {
    height: 300px; /* Adjust height as needed */
  }
  .carousel-inner img {
    object-fit: contain;
    height: auto;
    width: 100% !important;
}
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 484px;
}
a.my-4 {
    width: 30%;
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 36px auto !important;
    background: #AF1515;
    border: 1px solid #AF1515;
    border-radius: 14px;
    padding: 4px 26px;
    color: #fff;
    font-weight: 500;
    transition: 1.8s ease all;
}
a.my-4:hover {
    background: #AF1515;
    border: 1px solid #AF1515;
}
.itsImage img {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.08);
    width: 50%;
}
.noticeMian {
    border: 2px solid #AF1515 !important;
    border-radius: 10px;
    width: 79%;
    margin: 20px auto !important;
    padding: 10px 36px;
}
.noticeMian p {
    font-size: 15px;
    font-family: 'Montserrat';
}
span.red {
    font-weight: 700;
    font-family: 'Montserrat';
    color:  #AF1515;
}

.snowflake {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
  }
  #bouncingImage {
    position: absolute;
    width: 200px;
    height: 80px;
    /* / animation: bounceAnimation 1s infinite alternate; / */
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 37px;
}

  @keyframes bounceAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px); /* Adjust the bounce height */
    }
  }
  .nextTypeImage {
    padding: 174px 24px 24px;
    position: relative;
}

/* / JOIN NOW / */
.joinNowMain {
    max-width: 70%;
    margin: 100px auto;
    box-shadow: 0px 1px 16.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 60px;
    position: relative;
}
.joinGroup {
    flex-direction: column;
    max-width: 50%;
}
.joinFormInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.joinGroup.d-flex {
    flex-direction: column;
    max-width: 48%;
    width: 100%;
}
.joinNowMain h2 {
    position: absolute;
    top: -16px;
    background: #fff;
    padding: 0 2px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 27px;
    color: #AF1515;
}
.joinGroup label {
    font-family: 'Montserrat';
    font-size: 16px;
    margin-bottom: 7px;
    font-weight: 500;
}
.joinGroup input {
    border: 1px solid darkgrey;
    padding: 5px 10px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: 'Montserrat';
}
.joinGroup select {
    border: 1px solid darkgrey;
    padding: 5px 10px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: 'Montserrat';
}

.submitButtonit button {
    background: #AF1515;
    border: 1px solid #AF1515;
    width: fit-content;
    border-radius: 14px;
    padding: 4px 26px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    transition: 1.8s ease all;
}
.submitButtonit button:hover {
    background: #AF1515;
    border: 1px solid #AF1515;
}
.joinGroups {
    width: 100%;
}


.error{

    color: red;
    margin-bottom: 5px;
}

.sec_marginB{

    margin-bottom: 10rem !important;
}

a.navbar-brand {
    margin-right: 80px;
}
.footerinner ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 5px !important;
    font-weight: 400;
}
.socialMediaLinks li a i {
    font-size: 25px;
}
.socialMediaLinks li {
    padding: 0 !important;
    border: none !important;
}

.charityList li a {
    background: #fff;
    color: #af1515 !important;
    padding: 11px;
    width: 136px !important;
    display: block;
    text-align: center;
    border-radius: 7px;
    font-weight: 600 !important;
    /* transition: 0.8s ease all; */
}

.footerinner ul li a:hover {
    background: #5586e8;
    color: #fff !important;
}

.donateListblogMain img.crd-img {
    width: 312px !important;
    height: 312px !important;
    object-fit: cover;
    margin-top: 12px;
}

.leftSides {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.paddingDateLogo{

    padding: 5px;
}


.col-lg-3.col-md-6.mediaQur.mr-2 {
    margin-right: 10px;
}

body{
    overflow-x: hidden;
}
