* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* section-2 style */
  .bnner-btns {
    background: red;
    color: white;
    padding: 12px 22px 12px 20px;
    border-radius: 50px 50px 50px 50px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    margin-left: 54em;
}
.bnner-btns:hover{
  background: white;
  color: black;

}
.Customtitle {
  text-align: left;
  padding-left: 54rem;
  color: white !important;
  margin-bottom: 1em !important;
}
.footertxt {
width: 702px;
text-align: left;
margin: 0px 6rem 1rem 54rem;
color: white !important;
margin-bottom: 3em;
}
.mYcard{
    /* margin-top: 6rem; */
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 39%, rgba(0, 0, 0, 1) 100%) !important; */
    padding-top: 100px !important;
    background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 100%);
}
  .crd-sec {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7rem;
    row-gap: 7rem;
  }
  .crd {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
    border-radius: 15px;
  }
  .crd:hover {
    height: 38vh;
  }
  .crd .image {
    position: relative;
    /* width : 260px;
      height : 260px; */
    top: -50%;
    object-fit: cover;
    border-radius: 15px;
    /* left: 8px; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .crd .image img {
    max-width: 100%;
    border-radius: 15px;
  }
  .crd .content {
    position: relative;
    top: -160px;
    padding: 10px 10px;
    color: black;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .crd .content p {
    color: #8a8a8a;
  }
  .crd:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
    height: 100px;
  }
  /* end */
  /* section-3 */
  .sct-2{
    display:flex ;
  }
  .sec-3 {
    margin-top: 4rem;
  }
  .crd-img {
    width: 100%;
  }
  .main-content {
    margin-left: 4rem;
  }
  .main-content .prg {
    border-left: 4px solid lightgreen;
    padding-left: 10px;
    font-style: italic;
  }
  .cnt-prg {
    font-weight: 400;
    font-size: 15px;
    margin-top: 2rem;
  }
  .icn-bx {
      padding-top: 1rem;
  }
  .classFlex {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  .main-cont{
      margin-left: 2rem;
  }
  .main-cont p {
      font-size: 15px;
    margin-top: 2rem;
  }
  .classFlex i {
    font-size: 2em;
    color: #8a8a8a;
  }
  .crt p {
    margin-bottom: -1rem;
    color: #8a8a8a;
  }
  .crt h3 {
    margin-bottom: 0rem;
  }
  .main-cont h1 {
    position: relative;
  }
  .main-cont h1::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    right: 0;
    width: 108px;
    background: aqua;
    left: 0px;
    top:3.5rem
  }
  /* end */
  /* start */
  .clsFlex{
      display: flex;
      align-items: center;
    column-gap: 1rem;
  }
  /* end */
  /* section-5 */
  .sect-5 {
    margin: 4rem;
  }
  .crds-img {
    width: 100%;
  }
  /* end */
  /* section-6 */
  .sect-6 {
    margin: 4rem;
  }
  .card-title{
      font-weight: 600;
  }
  .card-text{
      color: #8a8a8a;
  }
  .card-para{
      font-weight:600 ;
      color: black;
      border-top: 2px solid #8a8a8a33;
  }
  /* end */
  .txt-1 {
    margin: 3rem;
    text-align: center;
  }
  .divCenter p {
    font-size: 20px;
    color: darkorange;
    margin-bottom: 0rem;
  }
  .divCenter h1 {
    font-size: 30px;
    font-weight: 800;
  }
  .divCenter {
    text-align: left;
    border-left: 4px solid darkorange;
    margin: auto;
  }
  .paracen {
    text-align: center;
    margin-left: -2rem;
    color: #8a8a8a;
  }
  /* end */
  /*sec-2  */
  .clsFlexxx i {
      font-size: 2rem;
  }
  .clsFlexx i {
      font-size: 2rem;
  }
  .clsFlexx{
      border: 0px solid black;
      /* width:22% !important; */
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      background-color: #fdffb8;
      border-radius: 6px;
      padding: 2em;
  }
  .clsFlexxx{
      background-color: #dfeaf1;
      /* width:22% !important; */
      display: flex;
      align-items: center;
      gap: 1rem;
      border-radius: 6px;
      padding: 2em;
      border: 0px solid black;
      justify-content: center;
   }
  .fourdivs{
      display: flex;
      gap: 1rem;
      justify-content: center;
  }
  /* end */
  /* sec-2 */
  .sec-8 {
      margin: 5rem;
  }
  .orphan-cnt img{
      width: 100%;
      height: 35vh;
  }
  .oph-para p{
    font-size: 15px;
    color: #8a8a8a;
    font-style: italic;
  }
  .oph-cont{
    font-size: 15px;
    color: #8a8a8a;
  }
  /* end */

  @media screen and (max-width:768px){
    .sct-2{
      flex-direction: column;
    }
    .main-content{
      margin-top: 1rem;
    }
  .orphan-cnt img {
    height: 42vh;
  }
  .main-cont{
    margin-top: 1rem;
  }
  .mediaQur{
    margin-top: 3rem !important;
  }
  .crd-sec {
    /* margin-top: 7rem; */
    row-gap: 4rem;
  }
  .CustomCarousel {
    bottom: 9.25rem !important;
  }
  .crd:hover {
    height: 41vh;
  }
  .main-content{
    margin-left: 0px;
  }
  .carousel-indicators{
    bottom: 3em;
  }
  .Main-cnt {
    height: 55.7vh !important;
  }
  .Myimg{
   height: 80vh !important;
  }
  }
  @media screen and (max-width:425px){
    .Myimg{
      height: 80vh !important;
     }
    .crd:hover {
      height: 41vh;
    }
    .mediaQur{
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .main-content{
      margin-left: 0px;
    }
    .mycustommargn {
      margin-top: 3rem !important;
  }
  .main-cont h1::after{
    top: 3.5rem !important;
  }
  .divCenter {
    margin-left: 2rem !important;
  }
  }
  /* end */
  /* banner */
  .carousel-item{
    height: 600px;
  }
  .crsl-txt{
    object-fit: cover;
  }
  /* end */
  /* sect-7 */
  .bnnerimg{
    margin: 4rem;
  }
  .footerImg{
    height: 50vh;
    object-fit: cover;
  }
  .footer-txt{
    color: white;
  }
  /* end */
  /* start mycustomcard css */
  .link{
    background-color:#00000038 !important;
    padding: 3rem;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
  }
  .mycustomcardBody{
    background-color:#9064bf;
    text-align: center;
  }
  .mYCustomcard{
    background-color: #fa575d;
    text-align: center;
  }
  .Custombody{
    background-color: #5586e8;
    text-align: center;
  }
  .Main-cnt{
    background-color: #369ff4 !important;
    height: 47.5vh;
    text-align: center;
  }
  .CustomImg {
    height: 11vh;
    width: 12% !important;
    margin: auto;
    padding-top: 2em;
  }
  .Myimg{
    width: 100% !important;
    object-fit: cover;
  }
  .CustomCarousel {
    bottom: 5rem !important;
  }
  /* end */
  .CustomBorder{
    /* border: 2px solid #8a8a8a; */
    background: conic-gradient(rgb(125,42,232) 285deg , rgb(171,170,170) 0.47deg);
  }
  .Mycontent{
    margin-top: 6rem !important;
  }
  .oph-para {
    margin-top: 1em;
  }
  .footer-txt {
    text-align: left;
    margin: 0px 0rem 1rem 49rem;
  }
  .CstomBtn {
    text-align: center;
    margin: 0px 0rem 0 49rem;
  }
  .MYcard {
    margin-top: 3rem;
  }
  .mediaQur .Main-cnt {
    height: 47vh !important;
  }
