* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* section-2 style */
.bnner-btns {
    background: #AF1515;
    color: white;
    padding: 8px 12px 11px 10px;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    /* margin-left: 14em    ; */
}
.bnner-btn{
    ba4px solid #AF1515;
    color: white;
    padding: 8px 12px 11px 10px;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
}
.bnner-btns:hover {
    background: #5586e8;
}
.bnner-btn:hover{
    background: #5586e8;
}

.Custom-title {
    text-align: left;
    padding-left: 11rem;
    color: white !important;
    margin-bottom: 1em !important;
}
.footertxt {
    width: 702px;
    text-align: left;
    margin-left: 11rem;
    color: white !important;
    margin-bottom: 3em;
}
.mYcard {
    /* margin-top: 6rem; */
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 39%, rgba(0, 0, 0, 1) 100%) !important; */
    padding-top: 100px !important;
    /* |right side black */
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 100%); */

    /* left side black */
    /* background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 42%
    ); */
    background: linear-gradient(90deg, rgba(0,0,0,0.7035189075630253) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6979166666666667) 100%);

    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3897934173669467) 35%, rgba(0,0,0,1) 100%); */
}


.crd-sec {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7rem;
    row-gap: 7rem;
}
.crd {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
    border-radius: 15px;
}
.crd:hover {
    height: 38vh;
}
.crd .image {
    position: relative;
    /* width : 260px;
      height : 260px; */
    top: -25%;
    object-fit: cover;
    border-radius: 15px;
    /* left: 8px; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.crd .image img {
    max-width: 100%;
    border-radius: 15px;
}
.crd .content {
    position: relative;
    top: -95px;
    padding: 10px 10px;
    color: black;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.crd .content p {
    color: #8a8a8a;
}
.crd:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
    height: 100px;
}
/* end */
/* section-3 */
.sct-2 {
    display: flex;
}
.sec-3 {
    padding: 10px;
}
.crd-img {
    width: 100%;
    height: 46vh;
}
.main-content {
    margin-left: 4rem;
    margin-top: 2em;
}
.main-content .prg {
    border-left: 4px solid #AF1515;
    padding-left: 10px;
    font-style: italic;
}
.cnt-prg {
    font-weight: 400;
    font-size: 15px;
    margin-top: 2rem;
}
.icn-bx {
    padding-top: 1rem;
}
.classFlex {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.main-cont {
    margin-left: 2rem;
}
.main-cont p {
    font-size: 15px;
    margin-top: 2rem;
}
.classFlex i {
    font-size: 2em;
    color: #AF1515;
}
.crt p {
    margin-bottom: -1rem;
    color: #8a8a8a;
}
.crt h3 {
    margin-bottom: 0rem;
}
/* end */
/* start */
.clsFlex {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
/* end */
/* section-5 */
.sect-5 {
    margin: 4rem;
}
.crds-img {
    width: 100%;
}
/* end */
/* section-6 */
.sect-6 {
    margin: 4rem;
}
.card-title {
    font-weight: 600;
}
.card-text {
    color: #8a8a8a;
}
.card-para {
    font-weight: 600;
    padding-top: 20px;
    color: black;
    border-top: 2px solid #8a8a8a33;
}
/* end */
.txt-1 {
    margin: 3rem;
    text-align: center;
}
.divCenter p {
    font-size: 20px;
    color: #AF1515;
    margin-bottom: 0rem;
}
.divCenter h1 {
    font-size: 30px;
    font-weight: 800;
}
.divCenter {
    text-align: center;
    border-left: 4px solid #AF1515;
    margin: auto;
}
.paracen {
    text-align: center;
    /* margin-left: -2rem; */
    color: #8a8a8a;
}
.upcard h1 {
    font-size: 30px;
    font-weight: 800;
}
/* end */
/*sec-2  */
.clsFlexxx i {
    font-size: 2rem;
    color: #AF1515;
}
.clsFlexx i {
    font-size: 2rem;
    color:#5586e8 ;
}
.clsFlexx {
    border: 0px solid black;
    /* width:50% !important; */
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #ffe4e4;
    border-radius: 6px;
    padding: 2em;
    color: black;
}
.clsFlexxx {
    background-color: #d9eaff;
    /* width:50% !important; */
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    padding: 2em;
    border: 0px solid black;
    justify-content: center;
}
.fourdivs {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
/* end */
/* sec-2 */
.orphan-cnt {
    margin-left: 60px;
    max-width: 85%;
}
.MyCustomCard h1 {
    font-size: 30px;
    font-weight: 800;
}
.sec-8 {
    padding: 60px;
    background: #80808024;
}
.orphan-cnt img {
    width: 100%;
    height: 35vh;
}
.oph-para p {
    font-size: 15px;
    color: #8a8a8a;
    font-style: italic;
}
.oph-cont {
    font-size: 15px;
    color: #8a8a8a;
}
.upcard {
    border-left: 4px solid #AF1515;
    margin-left: 31%;
    padding: 0px 18px;
}
/* end */

@media screen and (max-width: 768px) {
    .sct-2 {
        flex-direction: column;
    }
    .main-content {
        margin-top: 1rem;
    }
    .orphan-cnt img {
        height: 42vh;
    }
    .main-cont {
        margin-top: 1rem;
    }
    .mediaQur {
        margin-top: 3rem !important;
    }
    .crd-sec {
        /* margin-top: 7rem; */
        row-gap: 4rem;
    }
    .CustomCarousel {
        bottom: 9.25rem !important;
    }
    .crd:hover {
        height: 41vh;
    }
    .main-content {
        margin-left: 0px;
    }
    .carousel-indicators {
        bottom: 3em;
    }
    .Main-cnt {
        height: 55.7vh !important;
    }
    .Myimg {
        height: 80vh !important;
    }
    .upcard{
        margin-left:8%;
    }
    .clsFlexxx {
        background-color: #d9eaff;
        /* width: 50% !important; */
        color: black;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 6px;
        padding: 2em;
        border: 0px solid black;
        justify-content: center;
        margin-left: 37px;
    }
    .clsFlexx {
        border: 0px solid black;
        /* width: 50% !important; */
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        background-color: #ffe4e4;
        border-radius: 6px;
        padding: 2em;
        color: black;
        margin-left: 37px;
    }
    .divCenter {
        text-align: center;
        border-left: 4px solid #AF1515;
        margin: 0 22px;
    }
    .paracen {
        text-align: center;
        margin-left: 15px;
        color: #8a8a8a;
    }
    .sec-3 {
        padding: 10px;
        margin-left: 20px !important;
    }
    .orphan-cnt {
        margin-left: 4px;
        max-width: 104%;
    }
}
@media screen and (max-width: 425px) {
    .Myimg {
        height: 80vh !important;
    }
    .crd:hover {
        height: 41vh;
    }
    .mediaQur {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .main-content {
        margin-left: 0px;
    }
    .mycustommargn {
        margin-top: 3rem !important;
    }
    .main-cont h1::after {
        top: 3.5rem !important;
    }
    .divCenter {
        margin-left: 2rem !important;
    }
}
/* end */
/* banner */
.carousel-item {
    height: 600px;
}
.crsl-txt {
    object-fit: cover;
}
/* end */
/* sect-7 */
.bnnerimg {
    margin: 4rem;
}
.footerImg {
    height: 50vh;
    object-fit: cover;
}
.footer-txt {
    color: white;
}
/* end */
/* start mycustomcard css */
.link {
    background-color: #00000038 !important;
    padding: 3rem;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
}
.link:hover{
    background: #5586e8;
}
.mycustomcardBody {
    background-color: #9064bf;
    text-align: center;
}
.mYCustomcard {
    background-color: #fa575d;
    text-align: center;
}
.Custombody {
    background-color: #5586e8;
    text-align: center;
}
.Main-cnt {
    background-color: #369ff4 !important;
    height: 47.5vh;
    text-align: center;
}
.campaignBox .campaignboxcontent .read-btn:hover {
    background: #5586e8;
}
.CustomImg {
    height: 11vh;
    width: 12% !important;
    margin: auto;
    padding-top: 2em;
}
.Myimg {
    width: 100% !important;
    object-fit: cover;
}
.CustomCarousel {
    bottom: 5rem !important;
}
/* end */
.CustomBorder {
    /* border: 2px solid #8a8a8a; */
    background: conic-gradient(
        rgb(125, 42, 232) 285deg,
        rgb(171, 170, 170) 0.47deg
    );
}
.Mycontent {
    margin-top: 6rem !important;
}
.oph-para {
    margin-top: 1em;
}
.footer-txt {
    text-align: left;
    /* margin: 0px 0rem 1rem 49rem; */
}
.MYcard {
    margin-top: 3rem;
}
.mediaQur .Main-cnt {
    height: 50vh !important;
}
.project-main {
    margin-top: 8em;
    margin-bottom: -10em;
}
.main-cnt {
    width: 264px;
}
.img-box {
    width: 260px;
    height: 123px;
}
.project-cnt {
    text-align: center;
    color: #111;
}
.img-box img {
    max-width: 95%;
    margin-top: -4em;
    margin-left: 8px;
    border-radius: 4px;
    height: 178px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 50vh !important;
}
a {
    list-style: none;
}

.card-one {
    font-size: 20px;
}

.card.main-content {
    height: 390px;
}

.Aboutbox3 i {
    font-size: 2rem;
    color: #000000 !important;
}

.Aboutbox4 i {
    font-size: 2rem;
    color: #AF1515 !important;
}
.bnner-btn {
    background: #AF1515;
    color: white;
    padding: 8px 12px 11px 10px;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    /* margin-left: 11em; */
}
.bnner-btn:hover {
    background: white;
    color: black;
}
.CustomTitle{
    font-size:41px ;
    margin-left: 3em;
    margin-bottom: 1em !important;
}
.CstomBtn{
    margin-left:8em;
    ba4px solid #AF1515;
    color: white;
    padding: 8px 12px 11px 10px;
    border-radius: 8px ;
}
.CstomBtn:hover{
    background: #5586e8;
}
/* logo */
.logo-sect{
    height: 100%;
    background-color: white;
  }

  .logo-sect{
    overflow: hidden;
  }
    .slider {
      animation: slidein 15s linear infinite;
      white-space: nowrap;
    }

    .sliderTeam {
      animation: slidein 20s linear infinite;
      white-space: nowrap;
    }
      .logos {
        width: 100%;
        display: inline-block;
        margin: 0px 0;
      }
        .fab {
          width: calc(100% / 5);
          animation: fade-in 0.5s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* end */
.sponsor-img{
    max-width: 100%;
}
/* end */
#news-slider {
    margin-top: 80px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
  .post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
  }
  .post-img img {
    width: 100%;
}
  .post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  .post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
  }
  .post-slide .post-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
  }
  .post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
  }
  .post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
  }
  .post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
  }
  .post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #cfdace;
  }
  .post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196f3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
  }
  .post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
  }
  .owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
  }
  .owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-prev:after,
  .owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
  }
  .owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
  }
  @media only screen and (max-width: 1280px) {
    .post-slide .post-content {
      padding: 0px 15px 25px 15px;
    }
  }

  .banner_btn{
        margin-left: 14em;
  }

  .banner-text {
    text-align: center;
    /* margin-top: 50px; Adjust as needed */
}

.banner-text h1 {
    font-size: 60px; /* Adjust as needed */
    line-height: 1.2; /* Adjust line spacing as needed */
}
